<div class="container-fluid page-header py-5" style="margin-bottom: 6rem;">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">İletişim</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Anasayfa</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">İletişim</li>
                </ol>
            </nav>
        </div>
</div>                                

<div class="container-fluid overflow-hidden px-lg-0">
        <div class="container contact-page px-lg-0">
            <div class="row g-5 mx-lg-0">
                <div class="col-md-6 contact-form wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                    <h6 class="text-secondary text-uppercase">Bizimle İletişime Geçin</h6>
                    <div class="bg-light p-4">
                        <form>
                            <div class="row g-3">
                                <div class="col-lg-12">
                                    <h4 class="text-light mb-4">Adres</h4>
                                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Bosna Hersek Mah. Yemeni Sok. 20/2 Selçuklu / Konya</p>
                                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+90 545 647 77 42</p>
                                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>satis@lojiplus.net</p>
                                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>operasyon@lojiplus.net</p>

                                    <div class="d-flex pt-2">
                                        <a class="btn btn-outline-dark btn-social" href=""><i class="fab fa-twitter"></i></a>
                                        <a class="btn btn-outline-dark btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-outline-dark btn-social" href=""><i class="fab fa-youtube"></i></a>
                                        <a class="btn btn-outline-dark btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 pe-lg-0 wow fadeInRight" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">
                    <div class="position-relative h-100">
                        <iframe class="position-absolute w-100 h-100" style="object-fit: cover;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3143.580726050676!2d32.5316!3d38.010239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d08d7b8821983b%3A0x57370d757f4364d0!2sBosna%20Hersek%2C%20Yemeni%20Sk.%20No%3A20%20D%3A2%2C%2042250%20Sel%C3%A7uklu%2FKonya%2C%20T%C3%BCrkiye!5e0!3m2!1str!2snl!4v1707577882040!5m2!1str!2snl" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
        </div>         
</div>